In [1]:
# conda create -n dgi_coexpre python=3.9
import pandas as pd
import numpy as np
import numba
from numba import jit
import sys, os
sys.path.append('..')
import pickle as pkl

# import data module
# import data
from data import load_counts_groups, Load_OutputData_df, DESeq, Get_DESeq_label, obtain_idname
from config import config

from pydeseq2.dds import DeseqDataSet
from pydeseq2.ds import DeseqStats

In [13]:
# # === Dataset 1: zj-ees ===
# SAVE = 1
# DATAPATH = '../data/ZJ_EES/rawdata/reads_number.txt'
# FEATUREPATH = '../data/ZJ_EES/inputdata/group.csv'
# OUTPUT_PATH = '../data/ZJ_EES/output_data/'
# TEMP_FILENAME = 'counts_df.csv'
# condition = 'Group'
# ref = 'Control'
# RPKM_PATH = '../data/ZJ_EES/rawdata/RPKM.txt'
# # === Dataset 1: zj-ees ===

# === Dataset 2: ly-18samples-16s ===
SAVE = 1
DATAPATH = '../data//LY_18samples_16S/rawdata/reads_number_flattened.txt'
FEATUREPATH = '../data//LY_18samples_16S/inputdata/group.csv'
OUTPUT_PATH = '../data//LY_18samples_16S/output_data/'
TEMP_FILENAME = 'counts_df.csv'
condition = 'Group'
ref = 'Dark'
RPKM_PATH = '../data/LY_18samples_16S/rawdata/reads_number_flattened.txt'
# === Dataset 2: ly-18samples-16s ===

In [2]:
# load read counts and groups data for preprocessing, finally obtain count dataframe and group information (conditions)
counts_df, conditions = load_counts_groups(config)

In [3]:
print(config['DATAPATH'])

../data/LY_18samples_16S/rawdata/reads_number_flattened.txt

In [4]:
print(len(counts_df.iloc[0]))
# print(len(count_df['Samples']))
print(len(counts_df.iloc[:,0]))
print(conditions)

128
18
          Group
Samples
Dark1      Dark
Dark2      Dark
Dark3      Dark
Blue1      Blue
Blue2      Blue
Blue3      Blue
Green1    Green
Green2    Green
Green3    Green
Yellow1  Yellow
Yellow2  Yellow
Yellow3  Yellow
Red1        Red
Red2        Red
Red3        Red
UV1          UV
UV2          UV
UV3          UV

In [5]:
from pydeseq2.dds import DeseqDataSet
from pydeseq2.ds import DeseqStats
factors = 'Group'
dds = DeseqDataSet(
    counts=counts_df,
    clinical=conditions,
    design_factors=config['factors'],
    refit_cooks=True
)
# run the deseq2() method to fit dispersions and LFCs.
dds.deseq2()
# obtain p-value & fc: Statistical analysis with the DeseqStats class
stat_res = DeseqStats(dds)
stat_res.summary()

Fitting size factors...
... done in 0.00 seconds.

Fitting dispersions...
... done in 0.13 seconds.

Fitting dispersion trend curve...
... done in 0.07 seconds.

Fitting MAP dispersions...
... done in 0.12 seconds.

Fitting LFCs...
... done in 0.13 seconds.

Refitting 3 outliers.

Fitting dispersions...
... done in 0.01 seconds.

Fitting MAP dispersions...
... done in 0.01 seconds.

Fitting LFCs...
... done in 0.01 seconds.

Running Wald tests...
... done in 0.14 seconds.

Log2 fold change & Wald test p-value: Group Dark vs Blue

         baseMean  log2FoldChange     lfcSE      stat    pvalue      padj
otu_id
OTU38   15.044241        4.288342  1.483872  2.889969  0.003853  0.098632
OTU39    2.241918       -0.387111  3.558459 -0.108786  0.913372  0.960923
OTU36   31.383793       -0.260242  0.415185 -0.626810  0.530784  0.960923
OTU37   13.825537        0.563984  0.470231  1.199377  0.230381  0.960923
OTU34    2.821536       -0.387132  5.705426 -0.067853  0.945902  0.960923
...           ...             ...       ...       ...       ...       ...
OTU26   23.844215       -0.216382  0.400725 -0.539977  0.589213  0.960923
OTU21   15.957451       -0.741112  0.531923 -1.393269  0.163538  0.960923
OTU20    6.577634       -0.387147  5.705423 -0.067856  0.945900  0.960923
OTU23    5.663996       -0.387139  5.705425 -0.067855  0.945901  0.960923
OTU22    5.431062       -0.387138  5.705425 -0.067854  0.945902  0.960923

[128 rows x 6 columns]

In [3]:
dds, stat_res = DESeq(config, counts_df, conditions, SAVE=1)

Fitting size factors...
... done in 0.00 seconds.

Fitting dispersions...
... done in 0.15 seconds.

Fitting dispersion trend curve...
... done in 0.09 seconds.

Fitting MAP dispersions...
... done in 0.12 seconds.

Fitting LFCs...
... done in 0.15 seconds.

Refitting 3 outliers.

Fitting dispersions...
... done in 0.01 seconds.

Fitting MAP dispersions...
... done in 0.01 seconds.

Fitting LFCs...
... done in 0.01 seconds.

Running Wald tests...
... done in 0.15 seconds.

Log2 fold change & Wald test p-value: Group Dark vs Blue

         baseMean  log2FoldChange     lfcSE      stat    pvalue      padj
otu_id
OTU38   15.044241        4.288342  1.483872  2.889969  0.003853  0.098632
OTU39    2.241918       -0.387111  3.558459 -0.108786  0.913372  0.960923
OTU36   31.383793       -0.260242  0.415185 -0.626810  0.530784  0.960923
OTU37   13.825537        0.563984  0.470231  1.199377  0.230381  0.960923
OTU34    2.821536       -0.387132  5.705426 -0.067853  0.945902  0.960923
...           ...             ...       ...       ...       ...       ...
OTU26   23.844215       -0.216382  0.400725 -0.539977  0.589213  0.960923
OTU21   15.957451       -0.741112  0.531923 -1.393269  0.163538  0.960923
OTU20    6.577634       -0.387147  5.705423 -0.067856  0.945900  0.960923
OTU23    5.663996       -0.387139  5.705425 -0.067855  0.945901  0.960923
OTU22    5.431062       -0.387138  5.705425 -0.067854  0.945902  0.960923

[128 rows x 6 columns]

In [4]:
RPKM_matrix = pd.read_table(RPKM_PATH, sep='\t', header=0, index_col=0)

NameError: name 'RPKM_PATH' is not defined

In [8]:
# df = Get_DESeq_label(conditions, ref, RPKM_matrix, # MATRIX_COL_NAME, 
#                     LY_dds, condition, SAVE, OUTPUT_PATH, )

ref = 'Dark'
groups = conditions.iloc[:, 0].unique()
test_groups = np.delete(groups, np.where(groups == ref))

filter_mean_thre = 0
# set the filtering threshold
if filter_mean_thre == 0:
    thre = 1/len(counts_df.iloc[:,0])
else: 
    thre = filter_mean_thre

RPKM_matrix_filtered = RPKM_matrix[RPKM_matrix.mean(axis=1) >= thre]
# RPKM_matrix_filtered

MATRIX_COL_NAME = RPKM_matrix_filtered.columns.tolist()
MATRIX_COL_NAME

def obtain_idname(DATAPATH):
    """
    :return idname: name of id, which could be utilized for merge dataframe by column name
    :return id: id values, i.e. the names of sequences
    """
    count_matrix = pd.read_table(DATAPATH, sep='\t', header=0)
    idname = count_matrix.iloc[:,0].name
    id = count_matrix.iloc[:,0].values
    return idname, id
idname, id = obtain_idname(DATAPATH)

In [9]:
df = pd.DataFrame(columns= [idname,'p_value', 'labels'] + MATRIX_COL_NAME)
df

Empty DataFrame
Columns: [otu_id, p_value, labels, Dark1, Dark2, Dark3, Blue1, Blue2, Blue3, Green1, Green2, Green3, Yellow1, Yellow2, Yellow3, Red1, Red2, Red3, UV1, UV2, UV3]
Index: []

[0 rows x 21 columns]

In [16]:
def DESeq_res_stat_paried(dds, Test, config, SAVE=1):
    r"""
    DESeq analysis to obtain basic results
    --- input ---
    :para counts_df: counts matrix
    :para condition: condition that utilized for statistical analysis, such as p-value calculation. For example, we utilized 'light' () to indicate grouped by illunination condition for statistical analysis 
    :para factors: belong to the conditions, e.g. group
    :para SAVE: whether or not save the returned variables as files, default is true
    :para OUTPUT_PATH: directory for output data 
    --- output ---
    :para stat_res: statistical results of paired statistical analysis
    :para pvalue_df: p-value results of the statistical results
    :para pvalue_filtered: only genes with p-value <= 0.05 were kept
    """
    stat_res = DeseqStats(dds, contrast=[condition, Test, Ref])
    stat_res.summary()
    pvalue_df = pd.DataFrame(stat_res.p_values)
    pvalue_filtered = pvalue_df[pvalue_df.sum(axis=1) <= 0.05]
    if not os.path.exists(OUTPUT_PATH):
        os.makedirs(OUTPUT_PATH)
    if SAVE:
        with open(OUTPUT_PATH + Test +'_vs_' + Ref + "_pvalue_filtered.pkl", 'wb') as f:
            pkl.dump(pvalue_filtered, f)
        with open(OUTPUT_PATH + Test +'_vs_' + Ref + "_stat_results.pkl", "wb") as f:
            pkl.dump(stat_res, f)
    return stat_res, pvalue_df, pvalue_filtered


for test in test_groups:
    DESeq_res_stat_paried(dds, condition, test, ref, SAVE, OUTPUT_PATH)
    
    PVALUE_PKL_PATH = OUTPUT_PATH + test +'_vs_' + ref + "_pvalue_filtered.pkl"
    CONDITION_COL_NAME = [idname,'p_value']
    genes_p_filtered = Load_OutputData_df(PVALUE_PKL_PATH, CONDITION_COL_NAME)
    genes_p_filtered['labels'] = test + 'vs' + ref
    df1 = genes_p_filtered
    df2 = RPKM_matrix_filtered
    intersected_df = pd.merge(df1, df2, on = idname)
    # intersected_df = pd.merge(df1, df2, left_index=True, right_index=True, how='inner')
    # df = df.append(intersected_df, ignore_index=True)
    df = pd.concat([df, intersected_df])

Running Wald tests...
... done in 0.11 seconds.

Log2 fold change & Wald test p-value: Group Blue vs Dark

         baseMean  log2FoldChange     lfcSE      stat    pvalue      padj
otu_id
OTU38   15.044241       -4.288342  1.483872 -2.889969  0.003853  0.098632
OTU39    2.241918        0.387111  3.558459  0.108786  0.913372  0.960923
OTU36   31.383793        0.260242  0.415185  0.626810  0.530784  0.960923
OTU37   13.825537       -0.563984  0.470231 -1.199377  0.230381  0.960923
OTU34    2.821536        0.387132  5.705426  0.067853  0.945902  0.960923
...           ...             ...       ...       ...       ...       ...
OTU26   23.844215        0.216382  0.400725  0.539977  0.589213  0.960923
OTU21   15.957451        0.741112  0.531923  1.393269  0.163538  0.960923
OTU20    6.577634        0.387147  5.705423  0.067856  0.945900  0.960923
OTU23    5.663996        0.387139  5.705425  0.067855  0.945901  0.960923
OTU22    5.431062        0.387138  5.705425  0.067854  0.945902  0.960923

[128 rows x 6 columns]

Running Wald tests...
... done in 0.11 seconds.

Log2 fold change & Wald test p-value: Group Green vs Dark

         baseMean  log2FoldChange     lfcSE      stat    pvalue      padj
otu_id
OTU38   15.044241       -0.460801  0.610638 -0.754623  0.450475  0.970321
OTU39    2.241918        1.531804  3.153876  0.485689  0.627187  0.970321
OTU36   31.383793        0.805854  0.388179  2.075988  0.037895  0.861367
OTU37   13.825537       -0.398225  0.419300 -0.949739  0.342245  0.970321
OTU34    2.821536       -0.320725  5.703928 -0.056229  0.955160  0.970321
...           ...             ...       ...       ...       ...       ...
OTU26   23.844215        0.557397  0.368935  1.510826  0.130833  0.970321
OTU21   15.957451        0.166286  0.526107  0.316068  0.751951  0.970321
OTU20    6.577634       -0.320725  5.703928 -0.056229  0.955160  0.970321
OTU23    5.663996       -0.320725  5.703928 -0.056229  0.955160  0.970321
OTU22    5.431062       -0.320725  5.703928 -0.056229  0.955160  0.970321

[128 rows x 6 columns]

Running Wald tests...
... done in 0.11 seconds.

Log2 fold change & Wald test p-value: Group Yellow vs Dark

         baseMean  log2FoldChange     lfcSE      stat    pvalue      padj
otu_id
OTU38   15.044241        1.648069  0.555912  2.964621  0.003031  0.387911
OTU39    2.241918        0.666332  3.292013  0.202409  0.839597  0.966233
OTU36   31.383793        0.460692  0.393998  1.169275  0.242293  0.966233
OTU37   13.825537       -0.093801  0.407618 -0.230119  0.817999  0.966233
OTU34    2.821536       -0.295462  5.703332 -0.051805  0.958684  0.966233
...           ...             ...       ...       ...       ...       ...
OTU26   23.844215        0.292134  0.375799  0.777367  0.436942  0.966233
OTU21   15.957451       -0.121829  0.540723 -0.225308  0.821739  0.966233
OTU20    6.577634       -0.295462  5.703332 -0.051805  0.958684  0.966233
OTU23    5.663996       -0.295462  5.703332 -0.051805  0.958684  0.966233
OTU22    5.431062       -0.295462  5.703332 -0.051805  0.958684  0.966233

[128 rows x 6 columns]

Running Wald tests...
... done in 0.12 seconds.

Log2 fold change & Wald test p-value: Group Red vs Dark

         baseMean  log2FoldChange     lfcSE      stat    pvalue      padj
otu_id
OTU38   15.044241        1.528149  0.561726  2.720453  0.006519  0.834465
OTU39    2.241918       -0.009470  3.559173 -0.002661  0.997877  0.998675
OTU36   31.383793        0.017066  0.410592  0.041564  0.966846  0.998675
OTU37   13.825537       -0.083569  0.419111 -0.199395  0.841954  0.998675
OTU34    2.821536       -0.009470  5.704387 -0.001660  0.998675  0.998675
...           ...             ...       ...       ...       ...       ...
OTU26   23.844215       -0.026237  0.394755 -0.066463  0.947009  0.998675
OTU21   15.957451       -0.457548  0.578921 -0.790346  0.429326  0.998675
OTU20    6.577634        0.952320  5.540797  0.171874  0.863536  0.998675
OTU23    5.663996       -0.009470  5.704387 -0.001660  0.998675  0.998675
OTU22    5.431062       -0.009470  5.704387 -0.001660  0.998675  0.998675

[128 rows x 6 columns]

Running Wald tests...
... done in 0.12 seconds.

Log2 fold change & Wald test p-value: Group UV vs Dark

,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
otu_id,,,,,,
OTU38,15.044241,-0.088093,0.577792,-0.152465,8.788204e-01,8.788204e-01
OTU39,2.241918,5.911503,2.989296,1.977557,4.797873e-02,8.703118e-02
OTU36,31.383793,0.875899,0.381292,2.297186,2.160816e-02,4.815533e-02
OTU37,13.825537,0.274514,0.379956,0.722489,4.699942e-01,4.968497e-01
OTU34,2.821536,6.345885,5.364736,1.182889,2.368532e-01,3.079092e-01
...,...,...,...,...,...,...
OTU26,23.844215,0.913529,0.354301,2.578398,9.925956e-03,2.497499e-02
OTU21,15.957451,2.464742,0.470782,5.235424,1.646065e-07,9.876388e-07
OTU20,6.577634,7.552278,5.363354,1.408126,1.590937e-01,2.445294e-01
OTU23,5.663996,7.351418,5.363512,1.370635,1.704887e-01,2.557331e-01
OTU22,5.431062,7.290854,5.363564,1.359330,1.740420e-01,2.561373e-01

In [17]:
df

,otu_id,p_value,labels,Dark1,Dark2,Dark3,Blue1,Blue2,Blue3,Green1,...,Green3,Yellow1,Yellow2,Yellow3,Red1,Red2,Red3,UV1,UV2,UV3
0,OTU38,3.852802e-03,BluevsDark,2,15,11,0,0,1,6,...,8,25,46,34,16,35,30,8,31,13
1,OTU86,1.583783e-02,BluevsDark,7,14,11,2,5,2,8,...,12,12,11,16,11,9,9,7,20,7
2,OTU12,4.133658e-02,BluevsDark,48,65,43,19,9,36,31,...,64,59,55,60,37,28,33,244,501,233
3,OTU6,5.401629e-04,BluevsDark,1117,818,893,1520,1205,895,1721,...,2584,1986,1625,1481,970,1665,943,3754,5740,2340
4,OTU7,6.890580e-07,BluevsDark,2476,2408,2358,928,333,749,2313,...,3031,3308,3822,3402,2776,2647,2390,811,895,535
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,OTU53,1.558089e-11,UVvsDark,13,17,16,16,11,13,16,...,15,16,21,15,22,14,19,95,270,113
39,OTU54,3.649240e-03,UVvsDark,17,10,7,11,13,2,7,...,8,11,10,6,6,3,12,8,3,0
40,OTU57,9.722388e-03,UVvsDark,0,0,1,1,0,0,1,...,1,3,2,1,0,1,1,12,6,12
41,OTU26,9.925956e-03,UVvsDark,17,13,19,24,9,12,19,...,42,25,24,25,17,19,13,67,78,32
42,OTU21,1.646065e-07,UVvsDark,10,6,7,15,3,12,6,...,17,7,10,9,5,6,6,85,90,60

In [4]:
# load RPKM data (normalized gene abundance)
RPKM_matrix = pd.read_table(config['RPKM_PATH'], sep='\t', header=0, index_col=0)
# # preprocess RPKM data as mentioned above 
# EES_RPKM_matrix = RPKM_matrix.transpose().iloc[index_list].sort_index(ascending=False).transpose()

# DESeq analysis 
# dds, stat_res = DESeq(config, counts_df, conditions, SAVE=1) 
# note, here 'dds' is a tuple that contains both DeseqDataSet (dds[0]) and statistical report (dds[1])
df = Get_DESeq_label(conditions, counts_df, config, RPKM_matrix, # MATRIX_COL_NAME, 
                    dds, SAVE=1)

Running Wald tests...
... done in 0.15 seconds.

Log2 fold change & Wald test p-value: Group Blue vs Dark

         baseMean  log2FoldChange     lfcSE      stat    pvalue      padj
otu_id
OTU38   15.044241       -4.288342  1.483872 -2.889969  0.003853  0.098632
OTU39    2.241918        0.387111  3.558459  0.108786  0.913372  0.960923
OTU36   31.383793        0.260242  0.415185  0.626810  0.530784  0.960923
OTU37   13.825537       -0.563984  0.470231 -1.199377  0.230381  0.960923
OTU34    2.821536        0.387132  5.705426  0.067853  0.945902  0.960923
...           ...             ...       ...       ...       ...       ...
OTU26   23.844215        0.216382  0.400725  0.539977  0.589213  0.960923
OTU21   15.957451        0.741112  0.531923  1.393269  0.163538  0.960923
OTU20    6.577634        0.387147  5.705423  0.067856  0.945900  0.960923
OTU23    5.663996        0.387139  5.705425  0.067855  0.945901  0.960923
OTU22    5.431062        0.387138  5.705425  0.067854  0.945902  0.960923

[128 rows x 6 columns]

Running Wald tests...
... done in 0.15 seconds.

Log2 fold change & Wald test p-value: Group Green vs Dark

         baseMean  log2FoldChange     lfcSE      stat    pvalue      padj
otu_id
OTU38   15.044241       -0.460801  0.610638 -0.754623  0.450475  0.970321
OTU39    2.241918        1.531804  3.153876  0.485689  0.627187  0.970321
OTU36   31.383793        0.805854  0.388179  2.075988  0.037895  0.861367
OTU37   13.825537       -0.398225  0.419300 -0.949739  0.342245  0.970321
OTU34    2.821536       -0.320725  5.703928 -0.056229  0.955160  0.970321
...           ...             ...       ...       ...       ...       ...
OTU26   23.844215        0.557397  0.368935  1.510826  0.130833  0.970321
OTU21   15.957451        0.166286  0.526107  0.316068  0.751951  0.970321
OTU20    6.577634       -0.320725  5.703928 -0.056229  0.955160  0.970321
OTU23    5.663996       -0.320725  5.703928 -0.056229  0.955160  0.970321
OTU22    5.431062       -0.320725  5.703928 -0.056229  0.955160  0.970321

[128 rows x 6 columns]

Running Wald tests...
... done in 0.15 seconds.

Log2 fold change & Wald test p-value: Group Yellow vs Dark

         baseMean  log2FoldChange     lfcSE      stat    pvalue      padj
otu_id
OTU38   15.044241        1.648069  0.555912  2.964621  0.003031  0.387911
OTU39    2.241918        0.666332  3.292013  0.202409  0.839597  0.966233
OTU36   31.383793        0.460692  0.393998  1.169275  0.242293  0.966233
OTU37   13.825537       -0.093801  0.407618 -0.230119  0.817999  0.966233
OTU34    2.821536       -0.295462  5.703332 -0.051805  0.958684  0.966233
...           ...             ...       ...       ...       ...       ...
OTU26   23.844215        0.292134  0.375799  0.777367  0.436942  0.966233
OTU21   15.957451       -0.121829  0.540723 -0.225308  0.821739  0.966233
OTU20    6.577634       -0.295462  5.703332 -0.051805  0.958684  0.966233
OTU23    5.663996       -0.295462  5.703332 -0.051805  0.958684  0.966233
OTU22    5.431062       -0.295462  5.703332 -0.051805  0.958684  0.966233

[128 rows x 6 columns]

Running Wald tests...
... done in 0.14 seconds.

Log2 fold change & Wald test p-value: Group Red vs Dark

         baseMean  log2FoldChange     lfcSE      stat    pvalue      padj
otu_id
OTU38   15.044241        1.528149  0.561726  2.720453  0.006519  0.834465
OTU39    2.241918       -0.009470  3.559173 -0.002661  0.997877  0.998675
OTU36   31.383793        0.017066  0.410592  0.041564  0.966846  0.998675
OTU37   13.825537       -0.083569  0.419111 -0.199395  0.841954  0.998675
OTU34    2.821536       -0.009470  5.704387 -0.001660  0.998675  0.998675
...           ...             ...       ...       ...       ...       ...
OTU26   23.844215       -0.026237  0.394755 -0.066463  0.947009  0.998675
OTU21   15.957451       -0.457548  0.578921 -0.790346  0.429326  0.998675
OTU20    6.577634        0.952320  5.540797  0.171874  0.863536  0.998675
OTU23    5.663996       -0.009470  5.704387 -0.001660  0.998675  0.998675
OTU22    5.431062       -0.009470  5.704387 -0.001660  0.998675  0.998675

[128 rows x 6 columns]

Running Wald tests...
... done in 0.14 seconds.

Log2 fold change & Wald test p-value: Group UV vs Dark

,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
otu_id,,,,,,
OTU38,15.044241,-0.088093,0.577792,-0.152465,8.788204e-01,8.788204e-01
OTU39,2.241918,5.911503,2.989296,1.977557,4.797873e-02,8.703118e-02
OTU36,31.383793,0.875899,0.381292,2.297186,2.160816e-02,4.815533e-02
OTU37,13.825537,0.274514,0.379956,0.722489,4.699942e-01,4.968497e-01
OTU34,2.821536,6.345885,5.364736,1.182889,2.368532e-01,3.079092e-01
...,...,...,...,...,...,...
OTU26,23.844215,0.913529,0.354301,2.578398,9.925956e-03,2.497499e-02
OTU21,15.957451,2.464742,0.470782,5.235424,1.646065e-07,9.876388e-07
OTU20,6.577634,7.552278,5.363354,1.408126,1.590937e-01,2.445294e-01
OTU23,5.663996,7.351418,5.363512,1.370635,1.704887e-01,2.557331e-01
OTU22,5.431062,7.290854,5.363564,1.359330,1.740420e-01,2.561373e-01

In [ ]:
# filter samples, only EES-related samples and control groups are kept
# this needed to apply to both counts data, conditions and RPKM matrix
index_list = [2, 6, 13, 16, 20, 21, 22, 25, 26, 27, 31, 32]
EES_df = count_df.iloc[index_list].sort_index(ascending=False) # sort by index
EES_conditions = conditions.iloc[index_list].sort_index(ascending=False) # condition

# load RPKM data (normalized gene abundance)
RPKM_matrix = pd.read_table(RPKM_PATH, sep='\t', header=0, index_col=0)
# preprocess RPKM data as mentioned above 
EES_RPKM_matrix = RPKM_matrix.transpose().iloc[index_list].sort_index(ascending=False).transpose()

# DESeq analysis 
factors = 'Group'
dds = DESeq(EES_df, EES_conditions, factors, SAVE, OUTPUT_PATH) 
# note, here 'dds' is a tuple that contains both DeseqDataSet (dds[0]) and statistical report (dds[1])
EES_dds = dds[0]
df = Get_DESeq_label(EES_conditions, ref, EES_RPKM_matrix, # MATRIX_COL_NAME, 
                    EES_dds, condition, SAVE, OUTPUT_PATH)

In [ ]:
# conda create -n dgi_coexpre python=3.9
import pandas as pd
import numpy as np
import numba
from numba import jit
import sys, os
sys.path.append('..')
import pickle as pkl

# import data module
# import data
from data import load_counts_groups, Load_OutputData_df, DESeq, Get_DESeq_label, obtain_idname
from config import config

from pydeseq2.dds import DeseqDataSet
from pydeseq2.ds import DeseqStats

# load read counts and groups data for preprocessing, finally obtain count dataframe and group information (conditions)
counts_df, conditions = load_counts_groups(config)

dds, stat_res = DESeq(config, counts_df, conditions, SAVE=1)